@charset "utf-8";

:root {
  --clr-drk: #010518;
  --clr-bg: #001522;
  --clr-light: #fefefe;
  --clr-light-blue: #bad6ff;
  --clr-blue: #60d;
  --clr-primary: #f37121;
  --clr-hover: #e96240;
  --clr-tan: #ffd484;
  --app-font-size: 1.6rem;
  --app-spacing: 25px;
  --app-clip-hex: polygon(
    25% 0, 
    75% 0, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0 50%
  ); 
  --app-border-rad: 6px;
  --app-transition: all 0.3s ease-in-out;
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.center {
  justify-content: center;
  align-items: center;
}
.hover {
  transition: var(--app-transition);
}
.hover:hover {
  color: var(--clr-light);
  transform: scale(1.1);
  filter: brightness(0.8) saturate(1.3);
}
a {
  text-decoration: none;
  color: var(--clr-light);
}
body {
  scroll-behavior: smooth;
  background-color: var(--clr-bg);
  height: 100svh;
	font-family: "Space Grotesk", "Outfit", "Inter", sans-serif;
	font-size: 1.6rem;
	color: var(--clr-light);
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    color: var(--clr-primary);
    margin-bottom: 10px;
  }
  a {
    margin-top: var(--app-spacing);
    font-size: var(--app-font-size);
    color: var(--clr-light);
  }
}
.home {
  text-align: center;
}
.dungeon-page {
  height: 50svh;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: var(--clr-drk) url("../img/honeycomb.svg") no-repeat right center;
  background-size: cover;
  background-attachment: fixed;
}
.read-me {
  padding: 100px 25px;
  h2 {
    margin-top: 50px;
    text-align: center;
  }
  p {
    margin-bottom: 15px;
  }
}
header {
  height: 40svh;
  width: 100%;
  background: var(--clr-drk) url("../img/honeycomb.svg") no-repeat right bottom;
  background-size: cover;
  background-attachment: fixed;
  h1 {
    font-size: 4rem;
  }
}

.releases {
  padding: 25px;
  section {
    height: 25svh;
    width: min(100% - 30px, 700px);
    margin: 25px;
    border-radius: var(--app-border-rad);
    background-color: var(--clr-drk);
    h3 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    h4 {
      font-size: 1.4rem;
      color: var(--clr-primary);
      font-weight: 400;
    }
    a {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

.index-footer {
  height: 100px;
  line-height: 50px;
  text-align: center;
  color: var(--clr-light);
  a {
    text-decoration: none;
    color: var(--clr-light);
  }
}
.dungeon-footer {
  img {
    width: 30svw;
    transition: all 0.2s ease-in-out;
  }
  img:hover {
    filter: brightness(1.3);
  }
}