@charset "utf-8";

/*----------------------------------------------------------->
  Roots
<-----------------------------------------------------------*/


/*----------------------------------------------------------->
  Utility Functions
<-----------------------------------------------------------*/

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
  opacity: 0;
}

.circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}
.image-hover {
  transition: var(--app-transition);
}
.image-hover:hover {
  transform: scale(1.1);
  filter: brightness(0.8) saturate(1.3);
}

.hover {
    transition: var(--app-transition);
}
.hover:hover, .hover.secondary:hover {
  background-color: var(--clr-hover);
  color: var(--clr-blue);
}
.center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.pos-rel {
  position: relative;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}
.z100 {
  z-index: 100;
}